.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: #fff;
    background-color: #b92f2f;
    border-color: #b92f2f;
}